<ion-view view-title="About Us">
  <ion-content>
    <div class="list">

    <a class="item item-thumbnail-left" href="#">
      <img src="#/app/nick.jpg">
      <h2>Nicholas Egan</h2>
      <p>Egansoft CEO. MIT '19</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Josh Hellerstein</h2>
      <p>Promly CEO. MIT '19</p>
    </a>

     <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Andy Tsai</h2>
      <p>Rankler CEO. MIT '19</p>
    </a>

    <a class="item item-thumbnail-left" href="#">
      <img src="cover.jpg">
      <h2>Fiona Zhang</h2>
      <p>Entrepreneur guru. MIT '19</p>
    </a>

</div>

</div>
  </ion-content>
</ion-view>

