<ion-view view-title="Home">
  <ion-content>

<div class="item item-body">
    <img class="full-image" src="delorean.jpg">
    <p>
    <div class="list list-inset">
    </div> 
  </div>

    <div class="list">
    <h6 id="founders">Founders</h6>
    <div class="list card">
      <div class="item item-avatar">
        <img src="templates/nick.jpg">
        <h2>Nicholas Egan</h2>
        <p>Egansoft CEO. MIT '19.</p>
      </div>
      <div class="item item-avatar">
        <img src="templates/josh.jpg">
        <h2>Josh Hellerstein</h2>
        <p>Promly CEO. MIT '19.</p>
      </div>
      <div class="item item-avatar">
        <img src="templates/andy.jpg">
        <h2>Andy Tsai</h2>
        <p>Rankler CEO. MIT '19.</p>
      </div>

      <div class="item item-avatar">
        <img src="templates/fiona.jpg">
        <h2>Fiona Zhang</h2>
        <p>Entrepreneur. MIT '19.</p>
      </div>
    </div>

    <a class="item item-thumbnail-left" href="#">
      <img src="templates/circle.jpg">
      <h2>Currentcy</h2>
      <p>Born from HackMIT</p>
    </a>

    

</div>

</div>
  </ion-content>
</ion-view>


