<ion-view view-title="Help!">
  <ion-content>
    <div class="list card">

  <div class="item item-body">
    <h2>Need help?</h2>
    <p>Even though we probably don't know what we're doing either, try emailing andytsai@mit.edu or fionaz@mit.edu.</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="templates/circle.jpg">
    <p>
    <div class="list list-inset">
      <div class="item">
        All Rights Reserved
      </div>
    </div> 
  </div>


           
        </div>
  </ion-content>
</ion-view>
