<ion-view view-title="Welcome to Currentcy">
<ion-content>
<div id="map" data-tab-disabled="true"></div>

<center> <div class="col"> <font size=3> Request Charger </font> </div> </center>
<div class="list">
  <div class="row">
    <div class="col">
      <div class="item item-button-right">
        <font size=3>Phone</font>
        <button class="button button-positive">
          <i class="ion-alert-circled"></i>
        </button>
      </div>
    </div>
    <div class="col">
      <div class="item item-button-right">
       <font size=3> Comp. </font>
       <button class="button button-positive">
        <i class="ion-alert-circled"></i>
      </button>
    </div>
  </div>
</div>
</ion-content>
</ion-view>
