<ion-view view-title="Notification Preferences">
  <ion-content>

<ul class="list">

  <li class="item item-toggle">
     Sound
     <label class="toggle toggle-assertive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>

<div class="list">
  <p id="ttc">Time to Charger</h5>
  <div class="item range range-positive">
    <p id="min-time">1m</p>
    <i class="ion-android-pin"></i>
    <input type="range" name="volume" min="0" max="100" value="33">
    <i class="icon ion-android-walk"></i>
    <a>10m</a>

  </div>


</div>


  </ion-content>
</ion-view>
