<ion-view view-title="Notifications">
  <ion-content>
    <div class="list card">

    <a class="item item-avatar" href="#/app/deliverymap">
      <img src="templates/jessy.jpg">
      <h2>Jessy Lin</h2>
      <p>Android Charger 4 Min Away</p>
    </a>

    <a class="item item-avatar" href="#/app/deliverymap">
      <img src="templates/alex.jpg">
      <h2>Alex Chen</h2>
      <p>iPhone 5 Charger 2 Min Away</p>
    </a>

     <a class="item item-avatar" href="#/app/deliverymap">
      <img src="templates/amy.jpg">
      <h2>Amy Liu</h2>
      <p>Android Charger 6 Min Away</p>
    </a>

    <a class="item item-avatar" href="#/app/deliverymap">
      <img src="templates/catheryn.jpg">
      <h2>Catheryn Li</h2>
      <p>iPhone 4 Charger 9 Min Away</p>
    </a>

    <a class="item item-avatar" href="#/app/deliverymap">
      <img src="templates/james.jpg">
      <h2>James Li</h2>
      <p>Nokia Charger 10 Min Away</p>
    </a>
</div>
  </ion-content>
</ion-view>

