<ion-view title="Profile" ng-init="init()">
    <ion-content>
        <div class="list card">

<div class="list card">

  <div class="item item-avatar">
    <img src="mcfly.jpg">
    <h2>John Doe</h2>
    <p>iPhone 5, Macbook Air</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="delorean.jpg">
    <p>
    <div class="list list-inset">
      <div class="item">
        Name: Andy Tsai
      </div>
      <div class="item">
        Phone: 909-569-8646
      </div>
      <div class="item">
        Ratings: 4.5/5
      </div>
    </div> 
  </div>

</div>
           
        </div>
    </ion-content>
</ion-view>

