<ion-view view-title="Settings">
  <ion-content>

<div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-at"></i>
    Account Info
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-email-unread"></i>
    Notification Preferences
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-mic-a"></i>
    About Us
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-lightbulb"></i>
    Help
  </a>

</div>

  </ion-content>
</ion-view>
